<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button (click)="onPushList()">Push List</button>
  <button ion-button (click)="onSetrootList()">Setroot List</button>
  <button ion-button (click)="onPushAbout()">Push About</button>
  <button ion-button (click)="onToast()">Toast Me</button>

  <ion-item>	
    <ion-label floating>Name</ion-label>	<ion-input type="text" [(ngModel)]="keyword"></ion-input>
  </ion-item>
  <button ion-button (click)="onSearch()">Search</button>

  <ion-fab bottom right>	
    <button ion-fab (click)="onFab()">		
      <ion-icon name='add'></ion-icon>
    </button>
    <ion-fab-list side='top'>		
      <button ion-fab>
        <ion-icon name='search'></ion-icon>
      </button>
      <button ion-fab>
          <ion-icon name='contact'></ion-icon>
        </button>
        <button ion-fab>
            <ion-icon name='information-circle'></ion-icon>
          </button>
    </ion-fab-list>
  </ion-fab>
  
  <p>{{result | json }}</p>
  
  <ion-list>
      <ion-item *ngIf="result">
        <ion-thumbnail item-start>
          <img [src]="result.Poster">
        </ion-thumbnail>
        <ion-label>
            <h3>Title: {{result.Title}}</h3>
            <p>Actors: {{result.Actors}}</p>
            <p>Year: {{result.Year}} </p>
            <p>Director: {{result.Director}} </p>
            </ion-label>
      </ion-item>
    </ion-list>
    
</ion-content>
